/*------------------------------------*\
  #SECTION-LAYOUT
\*------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body {
  height: 425vh;

  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
  background-repeat: no-repeat;
  

  font-family: 'Source Sans Pro', sans-serif;
}
  
@media (min-width: 400px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}
  
header {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/*------------------------------------*\
#SECTION-MENU
\*------------------------------------*/

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 5px;
  font-family: 'VT323', monospace;
}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #242424;
  display: block;
  padding: 10px;
  text-decoration: none;
}

/*------------------------------------*\
#SECTION-TITLE
\*------------------------------------*/

.chamada {
  height: 100vh;
  padding-top: 45vh;
}

.site-title {
  color: whitesmoke;
  text-shadow: #000 1px 1px 1px;
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 3.5em;
}

.site-subtitle {
  color: #424242;
  
  text-align: center;
  font-family: 'Courgette', cursive;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.5em;
}



/*------------------------------------*\
#SECTION-PORTIFOLIO
\*------------------------------------*/

.portifolio {
  text-align: center;
}

.portifolio h2 {
  margin-bottom: 1em;
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-align: center;
  color: #424242;
  text-shadow: whitesmoke 1px 5px 1px;

}

/*------------------------------------*\
#SECTION-PROJETOS
\*------------------------------------*/

.projetos {
  height: 100vh;
  padding-top: 25vh;
}

.projetos p {
  padding: 2em;
}

/*
.projetos .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 650px) {
  .projetos .grid {
    grid-template-columns: 240px 240px 240px;
  }
}

*/

.projetos .grid {
  display: block;
}

@media (min-width: 650px) {
  .projetos .grid{
    display: inline-block;
  }
}

.img-projetos {
  height: 140px;
  width: 245px;
}


/*------------------------------------*\
#SECTION-sobre
\*------------------------------------*/

.sobre {
  height: 100vh;
  padding-top: 25vh;
}

.sobre p {
  justify-content: center;
  text-align: center;
  color: #424242;
}

.sobre img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.contatos {
  height: 100vh;
  padding-top: 25vh;
  margin-top: 5em;
}
.contatos li {
  list-style: none;
  text-decoration: none;
}

.img-contatos {
  height: 20px;
  width: 20px;
}

.botao-down {
  height: 20;
  width: 20;
}